<div class="d-flex align-items-center justify-content-center">
  <h2>Hello World</h2>
</div>
<div class="d-flex align-items-center justify-content-center">
  <p>
    The time is now: <%= Time.now %>
  </p>
</div>

