<div class="d-flex align-items-center justify-content-center">
  <h2>Course Enrollment</h2>
</div>
<div class="d-flex align-items-center justify-content-center">
  <p>
    Navigate to the page you would like to see
  </p>
</div>

